body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 10;
  background: white;
  width: 100%;
}
header .header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
header .header__arrow-back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}
header .header__arrow-back a {
  color: #000;
}
header .header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
header .header__logo a {
  color: #000;
}

.img {
  width: 100%;
  height: 50vh;
}
.img__image {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header__title {
  font-family: "Shrikhand", cursive;
}
.menu__header__heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.menu__header__heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.menu__header__heart .heart-empty {
  position: relative;
}
.menu__header__heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__grid__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 30px;
  color: white;
  /*******transform: rotate(180deg);
  animation: rotate 0.5s both;*****/
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}
.menu__contain-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}*****/
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appears-with-opacity {
  animation: opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer__bloc-link {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-link i {
  margin-right: 7px;
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: -60px;
  }
  .menu__grid {
    display: grid;
    /*grid-template-columns: repeat(3,1fr);*/
    grid-template-rows: 1fr;
  }
  .img__image {
    margin-top: 0;
  }
  .footer__bloc {
    margin-bottom: 15px;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 900px;
  }
}
@keyframes loading-appear {
  50% {
    opacity: 0.95;
  }
  99% {
    z-index: 21;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.95;
  animation: loading-appear 4s both ease-in-out;
  z-index: 21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  min-width: 290px;
  height: 290px;
  border-radius: 50%;
  background: linear-gradient(to top, #ae80e5, #FF79DA, transparent, transparent);
  z-index: 0;
  animation: rotate-gradient 3s infinite;
}
.loading-spinner::after {
  z-index: 0;
  position: absolute;
  content: "";
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 50%;
}
.loading-spinner__border {
  z-index: -1;
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.loading-spinner__plate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 4px solid #666666;
  background-color: #595959;
  margin: 0% 2%;
  border-radius: 50%;
  z-index: 3;
}
.loading-spinner__plate::before {
  position: absolute;
  display: flex;
  width: 93%;
  height: 93%;
  border-radius: 50%;
  border-bottom: 2px solid white;
  background-color: transparent;
  transform: rotate(-25deg);
  overflow: hidden;
  content: "";
}
.loading-spinner__plate::after {
  position: absolute;
  display: flex;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #404040;
  overflow: hidden;
  content: "";
}

/*****spinner *****/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.sizelogo {
  width: 165px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(120, 119, 119, 0.877);
}

.city span {
  padding-right: 17px;
}

.reserv {
  background: #fafafa;
  width: 100%;
}

.reserv_container {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  padding: 50px 0;
}

.reserv_title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.reserv_text {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.reserv_button {
  margin: 0 auto;
  width: 50%;
  opacity: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  width: 218px;
  height: 50px;
}
.reserv_button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.reserv_button p {
  transform: translateY(70%);
  margin: 0 auto;
  width: 180px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/***********fonction*******************/
.fonction__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.fonction__title {
  margin: 0;
}
.fonction__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.fonction__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}
.fonction__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.fonction__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.fonction__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/******************restaurants*****************/
.restaurants {
  margin: 0;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.restaurant__cards {
  width: 90%;
  margin: auto;
}
.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 18px;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurant__card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__card:hover {
  transition: 0.5s;
  transform: scale(1.02);
}
.restaurant__card-image {
  width: 100%;
  height: 393px;
  position: relative;
  overflow: hidden;
}
.restaurant__card-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.restaurant__block-info {
  color: black;
  margin-left: 20px;
}
.restaurant__block-info > :first-child {
  font-weight: 700;
}
.restaurant__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}
.restaurant__block .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

/***************Pied*******************/
.footer-container {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer-container__bloc .logo-footer {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-container__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer-container__bloc-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer-container__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer-container__bloc-link i {
  margin-right: 7px;
}
.footer-container__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

/*************responsive*****************/
@media screen and (min-width: 768px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .imgHeight {
    height: 318px;
  }
  .fonction__step {
    width: 100%;
  }
  .fonction__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .footer-container__bloc {
    display: flex;
    padding: 0 40px;
    width: 100%;
    flex-direction: row-reverse;
    gap: 30px;
    margin-bottom: 15px;
  }
  .footer-container__bloc-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
